

#next-post
{
    right:0px;
    box-shadow:0px 1px 1px #000000;
    -moz-box-shadow:0px 1px 1px #000000;
    -webkit-box-shadow:0px 1px 1px #000000;
    background: #2784BC;
}

#prev-post
{
    left:0px; 
    box-shadow:0px 1px 1px #000000;
    -moz-box-shadow:0px 1px 1px #000000;
    -webkit-box-shadow:0px 1px 1px #000000;
}

.next-post
{
    display:none;
    z-index:99999;
    position:fixed;
    overflow:hidden;
    background:#FFFFFF;
    border-style:solid;
    border-top: 1px solid #66c2ff;
}

    .next-post .clear-fix:after 
    {
        height:0;
        clear:both;
        content:" ";
        font-size:0;
        display: block;
        visibility: hidden;
    }

    * html .next-post .clear-fix             { zoom: 1; } 
    *:first-child+html .next-post .clear-fix { zoom: 1; }

    .next-post>div
    {
        height:100%;
        position:relative;
    }
    
        .next-post>div a.next-post-close-button
        {
            top:-11px;
            width:11px;
            height:11px;
            right:-11px;
            display:block;
            position:absolute;
            background-position:0px 0px;
            background-repeat:no-repeat;
            background-image:url('../img/close.png');
        }
        
            .next-post>div a.next-post-close-button:hover
            {
                background-position:0px -11px;
            }
    
        .next-post>div a.next-post-image
        {
            float:left;
            margin-right:20px;
        }
    
            .next-post>div a.next-post-image img
            {
                display:block;
            }
    
        .next-post>div a.next-post-title,
        .next-post>div a.next-post-title:hover
        {
            display:block;
            text-decoration:none;
        }
        
        .next-post>div a.next-post-title:hover
        {
            text-decoration:underline;
        }

        .next-post>div p.next-post-excerpt
        {
            margin:0px;
            padding:0px;
            line-height:150%;
        }
        
        .next-post>div a.next-post-title+.next-post-excerpt
        {
            margin-top:10px;
        }
        
        .next-post>div h3.next-post-header
        {
            margin-bottom:10px;
        }


.next-post>div
{
    margin-top:15px;
    margin-right:15px;
    margin-bottom:15px;
    margin-left:15px;
}

.next-post
{
    border-top-width:1px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-top-color:#49A7ED;
}

.next-post>div h3.next-post-header
{
    color:#CCCCCC;
    font-size:18px;
    font-family:'Tahoma';
}

.next-post>div a.next-post-title,
.next-post>div a.next-post-title:hover
{
    color: #fff;
    font-size:16px;
    font-family:'Tahoma';
    text-shadow: 0 1px 0 #007acc;
}

.next-post>div p.next-post-excerpt
{
    color:#888888;
    font-size:13px;
    font-family:'Tahoma';
}

@media only screen and (min-width:768px) and (max-width:959px)
{
    
}

@media only screen and (min-width:480px) and (max-width:767px) 
{
    
}

@media only screen and (max-width:479px) 
{
    
}