/* bootstrap 3 helpers */
.wp-caption-text{
  font-size: .75em;
  opacity:0.8;

}

.media-object {
margin-bottom: 8px !important;
}

.mobile-nav>li {
  display:inline-block;
  min-width: 140px;
}

#content{
  max-width: 1440px;
  margin:0 auto 0 auto;
}

.navbar{
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
  box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
  border-bottom: 1px solid #10799E;

}

#top-banner{
  margin-top:50px; background-color:white;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
  box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
  border-bottom: .5px solid #535353
  margin-bottom: 3px;
}

.cat-nav-single{

border-right: 1px solid #DADADA;
 
}

.twitter_box {
    width: 58px; height: 34px;
    position: relative;
    background: #fff;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 6px;
    }
.twitter_box:after,
.twitter_box:before {
    width: 0; height: 0;
    position: absolute;
    top: 100%;
    border: solid transparent;
    pointer-events: none;
    content: " ";
    }
.twitter_box:after {
    left: 50%;
    border-top-color: #fff;
    border-width: 3px;
    margin-left: -3px;
    }
.twitter_box:before {
    left: 50%;
    border-top-color: #aaa;
    border-width: 4px;
    margin-left: -4px;
    }
.twitter_box #followers {
    width: 100%; height: auto;
    position: absolute;
    top: 0px; left: 0px;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 16px; line-height: 34px;
    letter-spacing: 0;
    white-space: nowrap;
    color: #333;
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
   }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: Arial, Microsoft JhengHei, "微軟正黑體", LiHei Pro, "儷黑體", PMingLiu,"新細明體", sans-serif;
    vertical-align: baseline;

}

.body{
  background-color:rgb(228, 228, 228);
  font-family: Arial, Microsoft JhengHei, "微軟正黑體", LiHei Pro, "儷黑體", PMingLiu,"新細明體", sans-serif;
  line-height: 1.714286;
}

p{
  margin-top: 2em; 
}

#content-body{
  max-width: 1440px;
  margin: 0 auto 0 auto;
  background-color:rgb(228, 228, 228);
  font-family:Arial, Microsoft JhengHei, "微軟正黑體", LiHei Pro, "儷黑體", PMingLiu,"新細明體", sans-serif;

}



#touch-click {
    width: 30px;
    height: 50px;
    float: right;
    padding:15px;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}




.h4{
  line-height: 1.3 !important;
}







.navbar-form input, .form-inline input {
  width:auto;
}
.media-body{

}
.navbar-inverse .navbar-nav>li>a 
{
  color:#EEE;
}

.dropdown-menu{
  z-index: 999;
  min-width: 250px;
}

.media-object{

  margin-bottom: 5px;
}
/* end */

/* custom theme + Bootstrap resets */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400');

header {
  min-height:180px;
    margin-bottom:5px;
}

@media (min-width: 979px){

  #cat-nav{
    z-index: 99;
    max-width: 1440px;
    margin:0 auto 0 auto;

/*    box-shadow: 0 1px 0 rgba(0,0,0,0.1); */
  }  
  #cat-nav.affix-top{
    position: static;
    max-width: 1440px;
    margin:0 auto 0 auto;
  }
  #cat-nav.affix{
      position: fixed !important;
      top: 50px;
      width: 100%;
      max-width: 1440px;
      margin:0 auto 0 auto;
      left:none;



  }

  #leftCol, #midCol, #rightCol {
    z-index: 99;
  }

  #leftCol.affix-top {
      position: static;
  }
  
  #leftCol.affix {
      margin-left: 0px;
      position: fixed !important;
      top: 50px;
      width: 25%;

  }

  #midCol.affix-top {
      position: static;
  }

  #midCol.affix-bottom {
      padding-top:0;
  }
  
  #midCol.affix {
      position:fixed !important;
      top: 50px;
      width: 50%;
  }


  #rightCol.affix-top {
      position: static;
  }

  #rightCol.affix-bottom {
      padding-top:0;
  }
  
  #rightCol.affix {
      position:fixed !important;
      top: 50px;
      width: 25%;
  }
}

.affix {
      position:static;
}


a {

}
a:link    {text-decoration:none;}
a:visited {opacity:0.6;}
a:hover   {color:#55a1d7; opacity:0.7;}
a:active  {}

.author-link{
  color:#8A8A8A;
}
a.author-link{
  color:#8A8A8A !important;
}
a.author-link:link{
  color:#8A8A8A !important;
}

.highlight-bk {
  background-color:#77CCDD;
    padding:1px;
    width:100%;
}

.highlight {
  color:#77CCDD;
}
  
h3.highlight  {
  padding-top:13px;
    padding-bottom:14px;
    border-bottom:2px solid #77CCDD;
}

.navbar {
  background-color:#2784b9;
    color:#ffffff;
    border-radius:0;
}
.navbar-nav > li > a {
    color:#fff;
    padding-left:10px;
    padding-right:18px;
  /**  border-left:1px solid #248cb1; **/
}
.navbar-nav > li:last-child > a {
    /**border-right:1px solid #66BBCC; **/
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
  background-color:transparent;
}
.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
  color: #000;
  background-color:transparent;
    opacity:.9;
}

.accordion-group {
  border-width:0;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
    border-width:0;
}
  
.navbar-toggle:hover {
  background-color:#fff;
}

.panel,.panel-heading {
    border-radius:0;
    border-width:0;
box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}


.thumbnail {
  margin-bottom:8px;
  border-radius:0;
}

.well {
    border-radius:0;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
  padding-left:1px;
}

#footer {
    height:167px;
    background-color:#dfdfdf;
    color:#888;
}

@media (min-width: 768px) {
  .no-gutter.row > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .no-gutter.row > .col-sm-12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
  }
  .no-gutter.row .col-sm-11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
  }
  .no-gutter.row > .col-sm-10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
  }
  .no-gutter.row > .col-sm-9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
  }
  .no-gutter.row > .col-sm-8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
  }
  .no-gutter.row > .col-sm-7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
  }
  .no-gutter.row > .col-sm-6 {
    width: 49.99999999999999%;
  }
  .no-gutter.row > .col-sm-4 {
    width: 33.33333333333333%;
  }
  .no-gutter.row > .col-sm-3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
  }
  .no-gutter.row > .col-sm-2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
  }
  .no-gutter.row > .col-sm-1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
  }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
padding:4px 8px 5px 8px;
}

.panel {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: px;
}
.media-object {
  margin-right: 8px;
}

.panel-footer{
  background-color: #ffffff;
  font-size: 13px;
  color:#8A8A8A;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;

}


img,
.wp-caption,
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100% !important;
  height: auto;
}

iframe {
  max-width: 100% !important;
}



/* end custom theme */

img#wpstats {
     display: none;
}

#toTop {
  display:none;
  text-decoration:none;
  position:fixed;
  bottom:10px;
  right:10px;
  overflow:hidden;
  width:51px;
  height:51px;
  border:none;
  text-indent:100%;
  background:url("../img/ui.totop.png") no-repeat left top;
}

#toTopHover {
  background:url("../img/ui.totop.png") no-repeat left -51px;
  width:51px;
  height:51px;
  display:block;
  overflow:hidden;
  float:left;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
  outline:none;
}

.paginator_container{
  width:300px;
  margin:0 auto 0 auto;
  text-align:center;
}

/*custome comment box count above page css */

.share {
  display: inline-block;
  margin-right: 20px;
  margin-left:6px;
}

.share_size_large {
  width: 60px;
  vertical-align: top;
  margin-top: 7px;
}

.share__count {
  background-color: #fff;
  border: solid 1px #a5b1bd;
  border-radius: 3px;
  /* add in vendor rules */
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);*/
  /* add in vendor rules */
  color: #424a4d;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  padding: 4px 10px;
  position: relative;
  text-align: center;
}

.share_size_large > .share__count {
  display: block;
  float: none;
  font-size: 14px;
  margin-right: 0;
  margin-bottom: 6px;
  /*padding: 8px 0;*/
}

.share__count:before, .share__count:after {
  content: '';
  display: block;
  height: 0;
  top: 50%;
  position: absolute;
  right: -14px;
  width: 0;
  margin-top: -6px;
}

.share_size_large > .share__count:before, .share_size_large > .share__count:after {
  content: '';
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: auto;
  width: 0;
}

.share__count:before {
  border: solid 7px transparent;
  border-color: transparent transparent transparent #a5b1bd;
}
    
.share_size_large > .share__count:before {
  border-color: #a5b1bd transparent transparent transparent;
  bottom: -14px;
  margin-left: -7px;
}

.share__count:after {
  border: solid 6px transparent;
  border-color: transparent transparent transparent #fff;
  right: -12px;
  margin-top: -5px;
}

.share_size_large > .share__count:after {
  margin-left: -6px;
  bottom: -12px;
  border-color: #fff transparent transparent transparent;
}

.share__btn {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  /* add in vendor rules */
  /*box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.15);*/
  /* add in vendor rules */
  color: #fff;
  display: inline-block;
  font-size: 13px;
  /*font-weight: bold;*/
  padding: 5px 10px;
  text-align: center;
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);*/
  height:20px;
}

.share_size_large > .share__btn {
  padding: 0px 0;
  width: 59px;
}

.share_type_comment > .share__btn {
  background-color: #2784b9;
}


/** Video Play Button **/
.play-button {
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  z-index: 97;
  position: relative;
}

.small-play-button{
  top: -60px;
  left: 12px;
  margin-bottom: -60px;
}

.medium-play-button{
top: -105px;
left: 53px;
margin-bottom:-82px;
}

.responsive-play-button{
  top: -80px;
  left: 45%;
  margin-bottom: -40px;
}

.play-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 13px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

/** floating share start **/

.dd_button a:link,.dd_button a:visited,.dd_button a:active {
  text-decoration:none;
  color:#000
}

#dd_ajax_float {
  text-align:center;
  border:1px solid #bbb;
  min-width:55px;
  width:85px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-topleft:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  border-top-left-radius:5px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  -webkit-box-shadow:1px 0 15px rgba(0,0,0,.2);
  -moz-box-shadow:1px 0 15px rgba(0,0,0,.2);
  box-shadow:1px 0 15px rgba(0,0,0,.2);
  padding:5px;
  position:absolute;
  display:none;
  left:-120px;
  font:10px/16px Arial;
  background:padding-box #fff
}

#dd_ajax_float .dd_button_v {
  width:auto;
  height:auto;
  line-height:0;
  padding:4px 1px
}

#dd_ajax_float iframe {
  margin:0
}

#dd_start,#dd_end {
  float:left;
  clear:both
}

.dd_outer {
  width:100%;
  height:0;
  position:absolute;
  top:0;
  left:0;
  z-index:99
}

.dd_inner {
  margin:0 auto;
  position:relative
}

.dd_post_share {
  padding:0;
  margin-bottom:6px;
  display:block
}

.dd_post_share_left {
  float:left
}

.dd_post_share_right {
  float:right
}

.dd_buttons img {
  border:none;
  border-width:0;
  border-color:#000;
  border-style:none
}

#dd_name {
  color:#a9a9a9;
  font-size:8px;
  text-align:center;
  margin:8px 0 6px;
  padding:0;
  line-height:0
}

#dd_name a:link,#dd_name a:visited,#dd_name a:active {
  text-decoration:none;
  color:#a9a9a9;
  border:0
}

#dd_name a:hover {
  text-decoration:underline;
  color:#a9a9a9;
  border:0
}

.dd_button {
  float:left;
  padding:4px
}

.dd_fblike_xfbml_ajax_left_float {
  padding-left:3px
}

.dd_google1_ajax_left_float {
  margin-left:-1px
}

.dd_linkedin_ajax_left_float {
  margin-left:-2px;
  margin-bottom:-5px
}

html {
  overflow-y:scroll
}

.dd_button_spacer {
  padding-top:8px
}

.dd_button_extra_v {
  padding:1px 4px
}
/** floating share end **/
